*.cmi
*.cmo
*.cmx
*.o
*.suo
*.s
*.hi
*/.DS_Store
.DS_Store
Haskell/Tinker/dist/
Haskell/Planner/.idea
Haskell/Planner/.dist-buildwrapper
Haskell/Planner/dist/
Clojure/Tinker/.lein-cljsbuild-compiler-0/
Haskell/Pheobus/dist/
/Java/GenerationShip/nbproject/private/
/Java/GenerationShip/build/
/Java/GenerationShip/dist/
/Java/DestinationGolleRemix/out/
Monkey-X/GenerationShip/*.buildv*/
/Java/PerformanceTest/nbproject/private/
/Java/PerformanceTest/build/
/Java/PerformanceTest/dist/
/Java/Obsidian/nbproject/private/
/Java/Obsidian/dist/
/Java/Obsidian/build/
/Java/DestinationGolleRemix/.idea/sonarlint/
Monkey-X/Annihilation/annihiliation.build*/
Monkey-X/GenerationShip/g-ship.build*/
Monkey-X/LittlePeople/Source/littlepeople.build*/
Monkey-X/SmallWorld/smallworld.build*
Rust/DestinationGolle/target/
Rust/TheAfter/target/
__pycache__/
*/__pycache__/
Rust/HullPoints/target/
ProjectEuler/target/
